<p style="color: green"><%= notice %></p>

<table>
  <thead>
    <th>Name</th>
    <th>Path</th>
  </thead>
  <tbody>
    <tr>
      <%= render @directory %>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this directory", edit_directory_path(@directory) %> |
  <%= link_to "Back to directories", directories_path %>

  <%= button_to "Destroy this directory", @directory, method: :delete %>
</div>
